<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag(poster.image.url, class: 'img-fluid') %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text"><strong>作者/出版:</strong> <%= poster.artist %></p>
        <p class="card-text"><strong>価格:</strong> <%= number_to_currency(poster.price, unit: '¥', precision: 0) %></p>
        <p class="card-text"><strong>説明:</strong> <%= poster.description %></p>
        <i class="fa-brands fa-amazon"></i>
        <a href="<%= poster.url %>" target="_blank" class="btn-primary">Amazonでチェック</a>
      </div>
    </div>
  </div>
</div>
