<!-- app/views/admin/posters/new.html.erb -->
<div class="container">
  <h2 class="my-4">新しいPosterを追加</h2>

  <%= form_with(model: @poster, url: admin_posters_path, method: :post, multipart: true) do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :image, class: 'form-label' %>
      <%= form.file_field :image, class: 'form-control-file', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :url, class: 'form-label' %>
      <%= form.text_field :url, class: 'form-control', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label "height(mm)", class: 'form-label' %>
      <%= form.number_field :height, class: 'form-control', step: '0.01', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label "width(mm)", class: 'form-label' %>
      <%= form.number_field :width, class: 'form-control', step: '0.01', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :price, class: 'form-label' %>
      <%= form.number_field :price, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :artist, class: 'form-label' %>
      <%= form.text_field :artist, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control', rows: 3 %>
    </div>

    <%= form.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>