<div class="container">
  <h2 class="my-4"><%= @poster.title %></h2>

  <%= render partial: 'posters/poster', locals: { poster: @poster } %>
  
  <%= link_to 'Back to List', admin_posters_path, class: 'btn btn-secondary' %>
  <%= link_to 'Edit', edit_admin_poster_path(@poster), class: 'btn btn-secondary' %>
  <%= link_to 'Delete', admin_poster_path(@poster), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: "削除しますか" } %>
    <% unless @poster_answer.nil? || !@poster_answer.registered?(@poster.id) %>
      <%= link_to 'Edit Poster Answer', edit_multiple_admin_poster_poster_answers_path(@poster, @poster_answer), class: 'btn btn-secondary' %>
    <% else %>
      <%= link_to 'Register Poster Answer', new_admin_poster_poster_answer_path(@poster), class: 'btn btn-secondary' %>
    <% end %>
</div>