<header class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <%= link_to root_path do %>
        <%= image_tag('logo.jpg', alt: 'Logo', class: 'logo-class', size: '90x45') %>
      <% end %>      

      <% if user_signed_in? %>
        <%= link_to 'マイページ', user_path(current_user) %> |
        <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class:"login-button" %>
      <% end %>


    </div>
  </header>