<header id="header" class="site-header text-black">
  <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag('logo.jpg', alt: 'Logo', class: 'logo', height: '45') %>
      <% end %>

      <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="navbar-icon" width="50" height="50">
          <use xlink:href="#navbar-icon"></use>
        </svg>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
      <div class="offcanvas-header px-4 pb-0">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag('logo.jpg', alt: 'Logo', class: 'logo', height: '45') %>
      <% end %>
        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
      </div>
      <div class="offcanvas-body">
        <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to "#about-us", class: "nav-link me-4" do %>
              <i class="fa-solid fa-comment"></i> About
            <% end %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'マイページ', user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link", data: { turbo_method: :delete } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <svg class="user" width="20" height="20">
                <use xlink:href="#user"></use>
              </svg>
              ログイン
            <% end %>
          </li>
          <% end %> 
        </ul>
        </div>
      </div>
    </div>
  </nav>    
</header>
