<div class="container mt-5">
  <h1 class="mb-4">New Room</h1>

  <%= form_with(model: @room, url: rooms_path, local: true, multipart: true) do |form| %>
    <div class="mb-3">
      <%= form.label :image, class: "form-label" %>
      <%= form.file_field :image, class: "form-control" %>
      <%= form.hidden_field :image_cache %>
    </div>

    <%= form.submit "Upload Image", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
