<!DOCTYPE html>
<html>
  <head>
    <title>Frame Select</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <%= javascript_include_tag 'https://unpkg.com/swiper/swiper-bundle.min.js' %>
    <script src="https://kit.fontawesome.com/02f0a8a95c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap">

    
  </head>

  <header>
    <%= render 'shared/header' %>
  </header>

  <body class="wrapper">
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>

  <footer class="footer">
    <%= render 'shared/footer' %>
  </footer>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const swiper = new Swiper('.swiper', {
      direction: 'horizontal',
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        dynamicBullets: true,
      },
      autoplay: {
        delay: 6000,
        disableOnInteraction: false,
      },
    });
  });
  </script>
</html>
